article#sub-about(ng-show='subView.team')

  #row1.container-fluid.container-content.container-gray
    .row
      .content-holder.col-md-6
        h1.text-pink {{ui.pages.about.team.row1.title}}
        p(ng-repeat='content in ui.pages.about.team.row1.content') {{content}}
      .img-holder.col-md-6
        img.img-responsive(ng-src='../images/team-picture.png',
        alt='Image of AskFast team picture')

  #row2.container-fluid.container-content.container-dark
    .row
      .img-holder.col-md-6
        img.img-responsive(ng-src='../images/almende-companies.png',
        alt='Logos of Almende investments')
      .content-holder.col-md-6
        h1 {{ui.pages.about.team.row2.title}}
        p(ng-repeat='content in ui.pages.about.team.row2.content') {{content}}
        p
          a.btn.btn-primary(href='//almende-investments.com')
            | {{ui.pages.about.team.row2.cta}}

  #row3.container-fluid.container-content(ng-show='false')
    .row
      .img-holder.col-md-6.col-md-push-6
        img.img-responsive(ng-src='../images/stock-developer.png',
        alt='Image of developer with laptop')
      .content-holder.col-md-6.col-md-pull-6
        h1.text-pink {{ui.pages.about.team.row3.title}}
        p {{ui.pages.about.team.row3.introduction}}
        ul.bullets
          li(ng-repeat='item in ui.pages.about.team.row3.list')
            a(href='') {{item}}
        p(ng-repeat='content in ui.pages.about.team.row3.content') {{content}}
        p
          a.btn.btn-primary(ng-click='redirectTo("about", "contact")')
            | {{ui.pages.about.team.row3.cta}}


article#sub-contact(ng-show='subView.contact')
  .container-fluid.container-content.container-dark
    .row
      .col-md-12
        script.
          var myLatlng = new google.maps.LatLng(51.920479, 4.454543);
          var mapOptions = {
            zoom: 18,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            panControl: true,
            zoomControl: true,
            mapTypeControl: false,
            scaleControl: true,
            streetViewControl: false,
            overviewMapControl: true
          };
          var mapElement = document.getElementById('map');
          var map = new google.maps.Map(mapElement, mapOptions);
          var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Heemraadsingel 89 3022 CA Rotterdam '
          });
        #map

  .container-fluid.container-content.container-dark
    .row
      .col-md-10.col-md-offset-1.text-center

    .row
      .col-md-10.col-md-offset-1.text-center
              article
                  p.

        .row
          .col-md-4.col-md-offset-1
            h3 Contact Details:
            p <strong> Address: </strong>
            p Heemraadsingel 89 3022 CA Rotterdam
            p <strong> Phone: </strong>
            p +31 (0) 10 225 0130
            p <strong> E-mail: </strong>
            p info@askfast.com

          .col-md-6
            h2  We would like to hear from you!
            article(ng-show='contact.sent')
              p.
                Your message has been successfully sent.
            article(ng-hide='contact.sent')
              p.
                Please let us know about your opinions and ideas about our service.
                We promise that we are going to reply as soon as possible we can.
              form(role='form',
              ng-submit='sendContact(contact)')
                .form-group
                  input.form-control(type='text',
                  ng-model='contact.name',
                  placeholder='Name')
                .form-group
                  input.form-control(type='text',
                  ng-model='contact.surname',
                  placeholder='Surname')
                .form-group
                  input.form-control(type='email',
                  ng-model='contact.email',
                  placeholder='Email Adress')
                .checkbox
                  label
                    input(name='contact-subject',
                     ng-model='contact.subject',
                     value='Sales',
                     type='radio')
                    | Sales
                  label
                    input(name='contact-subject',
                    ng-model='contact.subject',
                    value='Job',
                    type='radio')
                    | Job application
                  label
                    input(name='contact-subject',
                    ng-model='contact.subject',
                    value='Partnership',
                    type='radio')
                    | Partnership
                  label
                    input(name='contact-subject',
                    ng-model='contact.subject',
                    value='Other',
                    type='radio')
                    | Other
                .form-group
                  textarea.form-control(ng-model='contact.message',
                  placeholder='Your Message')
                button.btn.btn-primary.pull-left(type='submit') Send

