article#sub-solutions(ng-show='subView.solutions')

  #row1.container-fluid.container-content
    .row
      .img-holder.col-md-6.col-md-push-6
        img.img-responsive(ng-src='../images/stock-flowers.png', alt='Image of flowers')
      .content-holder.col-md-6.col-md-pull-6
        h1.text-pink {{ui.pages.business.solutions.row1.title}}
        p(ng-repeat='content in ui.pages.business.solutions.row1.content') {{content}}
        p
          a.btn.btn-primary(href='') {{ui.pages.business.solutions.row1.cta}}

  #row2.container-fluid.container-content.container-dark
    .row
      .img-holder.col-md-6
        img.img-responsive(ng-src='../images/stock-trend-workers.png', alt='Image of trend workers')
      .content-holder.col-md-6
        h1 {{ui.pages.business.solutions.row2.title}}
        p(ng-repeat='content in ui.pages.business.solutions.row2.content') {{content}}
        p
          a.btn.btn-primary(href='') {{ui.pages.business.solutions.row2.cta}}

  #row3.container-fluid.container-content
    .row
      .img-holder.col-md-6.col-md-push-6
        iframe(src='//www.youtube.com/embed/NDnlcEf4s5Y',
        width='500',
        height='281',
        frameborder='0',
        webkitallowfullscreen='webkitallowfullscreen',
        mozallowfullscreen='mozallowfullscreen',
        allowfullscreen='allowfullscreen')
      .content-holder.col-md-6.col-md-pull-6
        h1.text-pink {{ui.pages.business.solutions.row3.title}}
        p(ng-repeat='content in ui.pages.business.solutions.row3.content') {{content}}
        p
          a.btn.btn-primary(href='') {{ui.pages.business.solutions.row3.cta}}

  #row4.container-fluid.container-content.container-dark
    .row
      .img-holder.col-md-6
        img.img-responsive(ng-src='../images/stock-hanging-logos.png', alt='Image of hanging logos')
      .content-holder.col-md-6
        h1 {{ui.pages.business.solutions.row4.title}}
        p(ng-repeat='content in ui.pages.business.solutions.row4.content') {{content}}
        p
          a.btn.btn-primary(href='') {{ui.pages.business.solutions.row4.cta}}
          a.btn.btn-cancel(href='') {{ui.pages.business.solutions.row4.cancel}}



article#sub-benefits(ng-show='subView.benefits')

  #row1.container-fluid.container-content
    .row
      .img-holder.col-md-6.col-md-push-6
        img.img-responsive(ng-src='../images/stock-laptop.png', alt='Image of laptop')
      .content-holder.col-md-6.col-md-pull-6
        h1.text-pink {{ui.pages.business.benefits.row1.title}}
        p(ng-repeat='content in ui.pages.business.benefits.row1.content') {{content}}
        p
          a.btn.btn-primary(href='') {{ui.pages.business.benefits.row1.cta}}

  #row2.container-fluid.container-content.container-black
    .row
      .img-holder.col-md-6
        img.img-responsive(ng-src='../images/stock-brain.png', alt='Image of brain')
      .content-holder.col-md-6
        h1 {{ui.pages.business.benefits.row2.title}}
        p(ng-repeat='content in ui.pages.business.benefits.row2.content') {{content}}
        p
          a.btn.btn-primary(href='') {{ui.pages.business.benefits.row2.cta}}

  #row3.container-fluid.container-content
    .row
      .img-holder.col-md-6.col-md-push-6
        img.img-responsive(ng-src='../images/stock-euro.png', alt='Image of euro')
      .content-holder.col-md-6.col-md-pull-6
        h1.text-pink {{ui.pages.business.benefits.row3.title}}
        p(ng-repeat='content in ui.pages.business.benefits.row3.content') {{content}}

  #row4.container-fluid.container-content.container-dark
    .row.content-holder
      .col-md-10
        h2 {{ui.pages.business.benefits.row4.title}}
        p(ng-repeat='content in ui.pages.business.benefits.row4.content') {{content}}
      .col-md-1
        p
          a.btn.btn-primary(href='') {{ui.pages.business.benefits.row4.cta}}

  #row5.container-fluid.container-content
    .row
      .img-holder.col-md-6
        img.img-responsive(ng-src='../images/stock-business-people.png', alt='Image of business people')
      .content-holder.col-md-6
        h1.text-pink {{ui.pages.business.benefits.row5.title}}
        p(ng-repeat='content in ui.pages.business.benefits.row5.content',
        class="{{($index == 2) && 'well' || ''}}")
          | {{content}}
        p
          strong {{ui.pages.business.benefits.row5.tagline}}
        p
          a.btn.btn-primary(href='') {{ui.pages.business.benefits.row5.cta}}