#carousel
  .container-fluid
    .row
      .col-md-10.col-md-offset-1
        script.
          $(document).ready(function ()
          {
            $('#carousel .bxslider').bxSlider({
            pager:          true,
            touchEnabled:   false,
            adaptiveHeight: true,
            startSlide:     0,
            onSlideBefore:  function () {
              if (window.top.scrollY != 0) { window.scrollTo(0, 0); }
            }
            });
          });
        ul.bxslider
          li#who-wants-pink
            .row
              .col-md-6.col-md-push-6.col-sm-6.col-sm-push-6
                img.img-responsive.pull-right(src='../images/illustration-hands-cloud.png',
                alt='Illustration Hands Cloud')
              .col-md-6.col-md-pull-6.col-sm-6.col-sm-pull-6
                h1.text-pink {{ui.pages.home.carousel.slide1.title}}
                p(ng-repeat='content in ui.pages.home.carousel.slide1.content') {{content}}
                p
                  a.btn.btn-primary(href='#') {{ui.pages.home.carousel.cta}}
          li#writing-a-letter
            .row
              .col-md-6.col-md-push-6.col-sm-7.col-sm-push-5
                img.img-responsive.pull-right(src='../images/stock-man-business.png',
                alt='Picture of business man with typewriter')
              .col-md-6.col-md-pull-6.col-sm-5.col-sm-pull-7
                h1.text-pink {{ui.pages.home.carousel.slide2.title}}
                p(ng-repeat='content in ui.pages.home.carousel.slide2.content') {{content}}
                p
                  a.btn.btn-primary(href='#') {{ui.pages.home.carousel.cta}}
          li#use-your-fingers
            .row
              .col-md-6.col-md-push-6.col-sm-6.col-sm-push-6
                img.img-responsive.pull-right(src='../images/stock-fingers.png',
                alt='Picture of fingers')
              .col-md-6.col-md-pull-6.col-sm-6.col-sm-pull-6
                h1.text-pink {{ui.pages.home.carousel.slide3.title}}
                p(ng-repeat='content in ui.pages.home.carousel.slide3.content') {{content}}
                p
                  a.btn.btn-primary(href='#') {{ui.pages.home.carousel.cta}}



#bridge
  .container-fluid.container-content.container-dark
    .row
      .col-md-5.col-md-offset-1.col-sm-6
        img.img-responsive(src='../images/illustration-askfast-engine.png',
        alt='Illustration AskFast engine')
      .col-md-5.col-sm-6
        h1.text-white {{ui.pages.home.bridge.title}}
        p(ng-repeat='content in ui.pages.home.bridge.content') {{content}}
        p
          a.btn.btn-primary(href='#') {{ui.pages.home.bridge.cta}}



#channels
  .container-fluid.container-content
    .row
      .col-md-6.col-md-push-6.col-sm-6.col-sm-push-6
        img.img-responsive.channel-image(ng-src='../images/channels/phone.png',
        ng-show='channelView.tel')
        img.img-responsive.channel-image(ng-src='../images/channels/sms.png',
        ng-show='channelView.mail')
        img.img-responsive.channel-image(ng-src='../images/channels/twitter.png',
        ng-show='channelView.twitter')
        img.img-responsive.channel-image(ng-src='../images/channels/email.png',
        ng-show='channelView.email')
        img.img-responsive.channel-image(ng-src='../images/channels/gtalk.png',
        ng-show='channelView.gMail')
      .col-md-5.col-md-pull-5.col-sm-6.col-sm-pull-6
        h1.text-pink {{ui.pages.home.channels.title}}
        ul.icons-list.list-inline
          li#tel
            a(ng-click='setChannelView("tel")',
            class='{{(channelView.tel) && "active"}}') Tel
          li#mail
            a(ng-click='setChannelView("mail")',
            class='{{(channelView.mail) && "active"}}') Mail
          li#twitter
            a(ng-click='setChannelView("twitter")',
            class='{{(channelView.twitter) && "active"}}') Twitter
          li#email
            a(ng-click='setChannelView("email")',
            class='{{(channelView.email) && "active"}}') E-mail
          li#gMail
            a(ng-click='setChannelView("gMail")',
            class='{{(channelView.gMail) && "active"}}') Gmail
        br
        div(ng-show='channelView.tel')
          p(ng-repeat='content in ui.pages.home.channels.tel.content') {{content}}
          ul.bullets(ng-show='ui.pages.home.channels.tel.list')
            li(ng-repeat='list in ui.pages.home.channels.tel.list') {{list}}
        div(ng-show='channelView.mail')
          p(ng-repeat='content in ui.pages.home.channels.mail.content') {{content}}
          ul.bullets(ng-show='ui.pages.home.channels.mail.list')
            li(ng-repeat='list in ui.pages.home.channels.mail.list') {{list}}
        div(ng-show='channelView.twitter')
          p(ng-repeat='content in ui.pages.home.channels.twitter.content') {{content}}
          ul.bullets(ng-show='ui.pages.home.channels.twitter.list')
            li(ng-repeat='list in ui.pages.home.channels.twitter.list') {{list}}
        div(ng-show='channelView.email')
          p(ng-repeat='content in ui.pages.home.channels.email.content') {{content}}
          ul.bullets(ng-show='ui.pages.home.channels.email.list')
            li(ng-repeat='list in ui.pages.home.channels.email.list') {{list}}
        div(ng-show='channelView.gMail')
          p(ng-repeat='content in ui.pages.home.channels.gMail.content') {{content}}
          ul.bullets(ng-show='ui.pages.home.channels.gMail.list')
            li(ng-repeat='list in ui.pages.home.channels.gMail.list') {{list}}



#promises
  .container-fluid.container-content.container-dark
    .row
      .col-md-4.col-md-offset-1.col-sm-4
        ul.icons-list.list-inline
          li#cost
            a(ng-click='setPromiseView("cost")',
            class='{{(promiseView.cost) && "active"}}') cost
          li#analyze
            a(ng-click='setPromiseView("analyze")',
            class='{{(promiseView.analyze) && "active"}}') analyze
          li#time
            a(ng-click='setPromiseView("time")',
            class='{{(promiseView.time) && "active"}}') time
          li#customizable
            a(ng-click='setPromiseView("customizable")',
            class='{{(promiseView.customizable) && "active"}}') customizable
          li#integration
            a(ng-click='setPromiseView("integration")',
            class='{{(promiseView.integration) && "active"}}') integration
          li#cloud
            a(ng-click='setPromiseView("cloud")',
            class='{{(promiseView.cloud) && "active"}}') cloud
          li#ideas
            a(ng-click='setPromiseView("ideas")',
            class='{{(promiseView.ideas) && "active"}}') ideas
          li#performance
            a(ng-click='setPromiseView("performance")',
            class='{{(promiseView.performance) && "active"}}') performance
          li#privacy
            a(ng-click='setPromiseView("privacy")',
            class='{{(promiseView.privacy) && "active"}}') privacy
      .col-md-7.col-sm-8
        h1
          span.text-white {{ui.pages.home.promises.enterance}} &nbsp;
          span.text-pink(ng-show='promiseView.cost') {{ui.pages.home.promises.cost.title}}
          span.text-pink(ng-show='promiseView.analyze') {{ui.pages.home.promises.analyze.title}}
          span.text-pink(ng-show='promiseView.time') {{ui.pages.home.promises.time.title}}
          span.text-pink(ng-show='promiseView.customizable') {{ui.pages.home.promises.customizable.title}}
          span.text-pink(ng-show='promiseView.integration') {{ui.pages.home.promises.integration.title}}
          span.text-pink(ng-show='promiseView.cloud') {{ui.pages.home.promises.cloud.title}}
          span.text-pink(ng-show='promiseView.ideas') {{ui.pages.home.promises.ideas.title}}
          span.text-pink(ng-show='promiseView.performance') {{ui.pages.home.promises.performance.title}}
          span.text-pink(ng-show='promiseView.privacy') {{ui.pages.home.promises.privacy.title}}
        p(ng-show='promiseView.cost') {{ui.pages.home.promises.cost.content}}
        p(ng-show='promiseView.analyze') {{ui.pages.home.promises.analyze.content}}
        p(ng-show='promiseView.time') {{ui.pages.home.promises.time.content}}
        p(ng-show='promiseView.customizable') {{ui.pages.home.promises.customizable.content}}
        p(ng-show='promiseView.integration') {{ui.pages.home.promises.integration.content}}
        p(ng-show='promiseView.cloud') {{ui.pages.home.promises.cloud.content}}
        p(ng-show='promiseView.ideas') {{ui.pages.home.promises.ideas.content}}
        p(ng-show='promiseView.performance') {{ui.pages.home.promises.performance.content}}
        p(ng-show='promiseView.privacy') {{ui.pages.home.promises.privacy.content}}
        p
          a.btn.btn-primary(href='#') {{ui.pages.home.promises.cta}}



#references
  .container-fluid.container-content
    .row
      .col-md-10.col-md-offset-1.col-sm-12
        h1.text-pink Our references
        script.
          $(document).ready(function ()
          {
            $('#references .bxslider').bxSlider({
              pager:          true,
              touchEnabled:   false,
              adaptiveHeight: true
            });
          });
        ul.bxslider
          li
            .row
              .col-md-3.col-sm-3
                img.img-responsive(src='../images/references/reddingsbrigade.png',
                alt='ReddingsBrigade')
              .col-md-3.col-sm-3
                img.img-responsive(src='../images/references/rijkwaterstaat.png',
                alt='Rijkwaterstaat')
              .col-md-3.col-sm-3
                img.img-responsive(src='../images/references/regionale-stichting.png',
                alt='Regionale Stichting')
              .col-md-3.col-sm-3
                img.img-responsive(src='../images/references/gallus-credit.png',
                alt='Gallus Credit')
          li
            .row
              .col-md-3.col-sm-3
                img.img-responsive(src='../images/references/rijkwaterstaat-2.png',
                alt='Rijkwaterstaat-2')
              .col-md-3.col-sm-3
                img.img-responsive(src='../images/references/reddingsbrigade-2.png',
                alt='ReddingsBrigade-2')
    .row
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
        blockquote
          p “{{ui.pages.home.reference.quote}}”
          footer
            h3 {{ui.pages.home.reference.person}}