#carousel
  .row
    .col-md-10.col-md-offset-1
      ul.bxslider
        li#who-wants-pink
          .row
            .col-md-6
              h1.text-pink Who wants some pink?
              p
                | ASK- Fast is a cloud communication solution that
                | is designed and developed for developers and businesses.
              p
                | You can simply develop an automated communication
                | for your application or your customer service.
              p
                a.btn.btn-primary(href='#') Join Now
            .col-md-6
              img.img-responsive.pull-right(src='../images/illustration-hands-cloud.png',
                  alt='Illustration Hands Cloud')
        li
          .row
            .col-md-12
              br
              br
              h1 Slide 2



#bridge
  .row
    .col-md-5.col-md-offset-1
      img.img-responsive(src='../images/illustration-askfast-engine.png', alt='Illustration AskFast engine')
    .col-md-5
      h1.text-white We bridge software and telecom industry.
      p
        | ASK- Fast is a cloud communication solution that
        | is designed and developed for developers and businesses.
      p
        | You can simply develop an automated communication
        | for your application or your customer service. It will work
        | with common communication channel and almost with every device.
      p
        a.btn.btn-primary(href='#') Case Study



#channels
  .row
    .col-md-5.col-md-offset-1
      h1.text-pink Communication channels
      ul.icons-list.list-inline
        li#tel
          a(ng-click='setChannelView("tel")',
          class='{{(channelView.tel) && "active"}}') tel
        li#mail
          a(ng-click='setChannelView("mail")',
          class='{{(channelView.mail) && "active"}}') mail
        li#twitter
          a(ng-click='setChannelView("twitter")',
          class='{{(channelView.twitter) && "active"}}') twitter
        li#email
          a(ng-click='setChannelView("email")',
          class='{{(channelView.email) && "active"}}') email
        li#gMail
          a(ng-click='setChannelView("gMail")',
          class='{{(channelView.gMail) && "active"}}') gmail
      br
      div(ng-show='channelView.tel')
        p
          | ASK- Fast is a cloud communication solution that
          | is designed and developed for developers and businesses.
        ul.bullets
          li Inbound Call
          li Outbound Call
          li Text to Speech
          li Call forwarding and many more feautures.
      div(ng-show='channelView.mail')
        p
          | Mail stuff
      div(ng-show='channelView.twitter')
        p
          | Twitter stuff
      div(ng-show='channelView.email')
        p
          | Email stuff
      div(ng-show='channelView.gMail')
        p
          | Gmail stuff
    .col-md-6
      div(ng-show='channelView.tel')
        img.img-responsive(src='../images/stock-communication-channel.png', alt='Stock communication channels')
      div(ng-show='channelView.mail')
        p(style='margin-top:30px')
          | Image mail
      div(ng-show='channelView.twitter')
        p(style='margin-top:30px')
          | Image twitter
      div(ng-show='channelView.email')
        p(style='margin-top:30px')
          | Image email
      div(ng-show='channelView.gmail')
        p(style='margin-top:30px')
          | Image gmail



#promises
  .row
    .col-md-4.col-md-offset-1
      ul.icons-list.list-inline
        li#cost
          a(ng-click='setPromiseView("cost")',
          class='{{(promiseView.cost) && "active"}}') cost
        li#analyze
          a(ng-click='setPromiseView("analyze")',
          class='{{(promiseView.analyze) && "active"}}') analyze
        li#time
          a(ng-click='setPromiseView("time")',
          class='{{(promiseView.time) && "active"}}') time
        li#customizable
          a(ng-click='setPromiseView("customizable")',
          class='{{(promiseView.customizable) && "active"}}') customizable
        li#integration
          a(ng-click='setPromiseView("integration")',
          class='{{(promiseView.integration) && "active"}}') integration
        li#cloud
          a(ng-click='setPromiseView("cloud")',
          class='{{(promiseView.cloud) && "active"}}') cloud
        li#ideas
          a(ng-click='setPromiseView("ideas")',
          class='{{(promiseView.ideas) && "active"}}') ideas
        li#performance
          a(ng-click='setPromiseView("performance")',
          class='{{(promiseView.performance) && "active"}}') performance
        li#privacy
          a(ng-click='setPromiseView("privacy")',
          class='{{(promiseView.privacy) && "active"}}') privacy
    .col-md-7
      div(ng-show='promiseView.cost')
        h1
          span.text-white We promise
          | &nbsp;
          span.text-pink Cost Reduction
        p
          | ASK-Fast reduces the cost of communication while creating
          | added value to your business context through automated agents.
          | Our rates are among the cheapest in Europe.
        p
          a.btn.btn-primary(href='#') Create an account
      div(ng-show='promiseView.analyze')
        p
          | Analyze stuff
      div(ng-show='promiseView.time')
        p
          | Time stuff
      div(ng-show='promiseView.customizable')
        p
          | customizable stuff
      div(ng-show='promiseView.integration')
        p
          | integration stuff
      div(ng-show='promiseView.cloud')
        p
          | cloud stuff
      div(ng-show='promiseView.ideas')
        p
          | ideas stuff
      div(ng-show='promiseView.performance')
        p
          | performance stuff
      div(ng-show='promiseView.privacy')
        p
          | privacy stuff


#references
  .row
    .col-md-10.col-md-offset-1
      h1.text-pink Our references
      ul.bxslider
        li
          .row
            .col-md-12
              img.img-responsive(src='../images/clients-1.png', alt='Clients group 1')
        li
          .row
            .col-md-12
              img.img-responsive(src='../images/clients-2.png', alt='Clients group 2')
  .row
    .col-md-8.col-md-offset-2
      blockquote
        p “We are using ASK-Fast cloud communication for our alarming system.”
        footer
          h3 Johnny Billie, CEO



script.
  $(document).ready(function ()
  {
    $('.bxslider').bxSlider({
      pager: false
    });
  });