article#sub-prices

  #row1.container-fluid.container-content
    .row
      .col-md-6.col-md-push-6
        
      .col-md-6.col-md-pull-6
        h1.text-pink {{ui.pages.prices.row1.title}}
        p(ng-repeat='content in ui.pages.prices.row1.content') {{content}}
    .row.indicators
      .col-md-5.input-emphasize
        input.form-control(type='text', placeholder='{{ui.pages.prices.row1.placeholders.from}}')
      .col-md-2.piles
        | &nbsp;
      .col-md-5.input-emphasize
        input.form-control(type='text', placeholder='{{ui.pages.prices.row1.placeholders.to}}')

  #row2.container-fluid.container-content.container-dark
    .row
      .col-md-6
        h2 {{ui.pages.prices.row2.titles.inbound}}
        table.table
          tr
            td.price-thumb
              img.img-rounded(style='width: 60px; height: 60px;',
              ng-src='{{config.mockups.img}}')
            td SMS
            td.text-right Starting 0.01 €
          tr
            td.price-thumb
              img.img-rounded(style='width: 60px; height: 60px;',
              ng-src='{{config.mockups.img}}')
            td Phone
            td.text-right Starting 0.01 €
          tr
            td.price-thumb
              img.img-rounded(style='width: 60px; height: 60px;',
              ng-src='{{config.mockups.img}}')
            td Email
            td.text-right 1 00 transaction 0.01 €
          tr
            td.price-thumb
              img.img-rounded(style='width: 60px; height: 60px;',
              ng-src='{{config.mockups.img}}')
            td gTalk
            td.text-right Free
          tr
            td.price-thumb
              img.img-rounded(style='width: 60px; height: 60px;',
              ng-src='{{config.mockups.img}}')
            td Twitter
            td.text-right Free
      .col-md-6
        h2 {{ui.pages.prices.row2.titles.outbound}}
        table.table
          tr
            td.price-thumb
              img.img-rounded(style='width: 60px; height: 60px;',
              ng-src='{{config.mockups.img}}')
            td SMS
            td.text-right Starting 0.01 €
          tr
            td.price-thumb
              img.img-rounded(style='width: 60px; height: 60px;',
              ng-src='{{config.mockups.img}}')
            td Phone
            td.text-right Starting 0.01 €
          tr
            td.price-thumb
              img.img-rounded(style='width: 60px; height: 60px;',
              ng-src='{{config.mockups.img}}')
            td Email
            td.text-right 1 00 transaction 0.01 €
          tr
            td.price-thumb
              img.img-rounded(style='width: 60px; height: 60px;',
              ng-src='{{config.mockups.img}}')
            td gTalk
            td.text-right Free
          tr
            td.price-thumb
              img.img-rounded(style='width: 60px; height: 60px;',
              ng-src='{{config.mockups.img}}')
            td Twitter
            td.text-right Free
    .row
      .col-md-12.text-center
        p
          a.btn.btn-primary(href='') {{ui.pages.prices.row2.cta}}

  #row3.container-fluid.container-content
    .row
      .col-md-6.col-md-push-6
        ul.list-inline
          li
            img.img-rounded(style='width: 110px; height: 110px;',
            ng-src='{{config.mockups.img}}')
          li
            img.img-rounded(style='width: 110px; height: 110px;',
            ng-src='{{config.mockups.img}}')
          li
            img.img-rounded(style='width: 110px; height: 110px;',
            ng-src='{{config.mockups.img}}')
          li
            img.img-rounded(style='width: 110px; height: 110px;',
            ng-src='{{config.mockups.img}}')
      .col-md-6.col-md-pull-6
        h1.text-pink {{ui.pages.prices.row3.title}}
        p(ng-repeat='content in ui.pages.prices.row3.content') {{content}}
    .row
      .col-md-12.text-center
        p
          a.btn.btn-primary(href='') {{ui.pages.prices.row3.cta}}