// Modal
#contactForm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='contactFormLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h3#contactFormLabel.modal-title {{ui.contactForm.title}}
      .modal-body
        #contact.row
          .col-md-12
            input#contactName.contactInput.col-xs-12(type='text',
              placeholder='{{ui.contactForm.name}}',
              ng-model='contactForm.name')
            input#contactEmail.contactInput.col-xs-12(type='text',
              placeholder='{{ui.contactForm.emailAddress}}',
              ng-model='contactForm.emailAddress')
            textarea#message.contactTextarea.col-xs-12(rows='8',
              placeholder='{{ui.contactForm.message}}',
              ng-model='contactForm.message')
      .modal-footer
        button.btn.outline(type='button', data-dismiss='modal') {{ui.contactForm.cancel}}
        button.btn.filled.ng-binding(type='button', ng-click='sendMail(contactForm)') {{ui.contactForm.send}}